@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222.2 47.4% 11.2%;
    --card: 0.0 0.0% 100.0%;
    --card-foreground: 222.2 47.4% 11.2%;
    --popover: 0.0 0.0% 100.0%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --primary: 211.1 79.0% 20.6%;
    --primary-foreground: 0.0 0.0% 100.0%;
    --secondary: 214.3 31.8% 91.4%;
    --secondary-foreground: 211.1 79.0% 20.6%;
    --muted: 210.0 40.0% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 208.2 98.1% 20.4%;
    --accent-foreground: 0.0 0.0% 100.0%;
    --destructive: 0.0 84.2% 60.2%;
    --destructive-foreground: 0.0 0.0% 100.0%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 211.1 79.0% 20.6%;
    --radius: 0.75rem;
    --sidebar: 211.1 79.0% 20.6%;
    --sidebar-foreground: 0.0 0.0% 100.0%;
    --sidebar-primary: 0.0 0.0% 100.0%;
    --sidebar-primary-foreground: 211.1 79.0% 20.6%;
    --sidebar-accent: 208.2 98.1% 20.4%;
    --sidebar-accent-foreground: 0.0 0.0% 100.0%;
    --sidebar-border: 211.3 60.5% 29.8%;
    --sidebar-ring: 0.0 0.0% 100.0%;
    --chart-1: 211.1 79.0% 20.6%;
    --chart-2: 142.1 70.6% 45.3%;
    --chart-3: 37.7 92.1% 50.2%;
    --chart-4: 188.7 94.5% 42.7%;
    --chart-5: 258.3 89.5% 66.3%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 217 33% 17%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 85% 60%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 217 33% 17%;
    --sidebar: 222 47% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 224 76% 48%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 217 33% 17%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217 33% 17%;
    --sidebar-ring: 217 33% 17%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
